@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .h-screen {
        height: 100dvh;
    }
}

.pulse-slow {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.pulse-shadow {
    animation: pulseshadow 2.2s infinite;
}

@keyframes pulseshadow {
    50% {box-shadow: 0 2px 19px 6px rgba(18,185,129,0.85);}
}

.bounce {
    animation-name: bounce;
    animation-duration: .5s;
    animation-delay: 0.25s;
}

/* This approximates the ease-in-out-bounce animation from easings.net, which would require a plug-in to use*/
@keyframes bounce {
    0% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
    37% {
        transform: translateX(5px);
        timing-function: ease-out;
    }
    55% {
        transform: translateX(-5px);
        timing-function: ease-in;
    }
    73% {
        transform: translateX(4px);
        timing-function: ease-out;
    }
    82% {
        transform: translateX(-4px);
        timing-function: ease-in;
    }
    91% {
        transform: translateX(2px);
        timing-function: ease-out;
    }
    96% {
        transform: translateX(-2px);
        timing-function: ease-in;
    }
    100% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
}

